<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="../styles/favorites.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet"> 
</head>
</head>
<body>
    <div id="header">
        <h1>Favorites</h1>
        <a href="../index.html"><i class="fa-solid fa-house"></i></a>
    </div>
    <div id="main">
        <!-- reference for main  -->
        <!-- <div class="movie-card">
                <div class="movie-card-img"></div>
                <div class="text-area">
                    <div class="movie-name"><span>Harry Potter and the chambers of secret</span></div>
                    <div class="remove-btn"><i class="fa-solid fa-circle-minus"></i></div>
                </div>
            </div> -->
    </div>
    
    <script src="https://kit.fontawesome.com/03f8fd8052.js" crossorigin="anonymous"></script>
    <script src="../js/favorites.js"></script>
</body>
</html>