<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Info</title>
    <link rel="stylesheet" href="../styles/movie.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet"> 
</head>
<body>
    <a href="/index.html"><i class="fa-solid fa-house"></i></a>
    <div id="plot">
        <div id="plot-container">
            <!-- the movie plot will come here  -->
        </div>
    </div>
    <div id="info">
        <div id="info-container">
            <!-- movie info will come here  -->
        </div>
    </div>
    <div id="poster">
        <!-- poster will come here  -->
        <span id="fav-btn"><i class="fa-solid fa-bookmark"></i><span>
    </div>
    <script src="https://kit.fontawesome.com/03f8fd8052.js" crossorigin="anonymous"></script>
    <script src="../js/movie.js"></script>
</body>
</html>

